/*For Homepage use only (aleckontech.github.io/index.html)*/

.contents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
}

.contentBox {
    width: 65%;
    margin: 8px;
    border: 5px dashed var(--fgColor);
    border-radius: 8px;
    padding: 10px;
}

.header {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


.aboutMe {
  flex:  65%;
  min-width: 300px; /* or any min width you prefer */
}

.socialLinks {
  flex: 35%;
  min-width: 250px; /* forces wrapping earlier */
}
